:host {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;

    @media (max-height: 600px) {
        flex-direction: row;
    }

    .main {
        width: 50%;
        .main-form {


            @media (max-width: 850px) {
                width: 80%;
            }

            form {
                width: 100%;
                display: flex;
                flex-direction: column;
            }
        }
    }

    .footer-buttons {

        @media (max-width: 850px) {
            width: 80%;
        }

        .btns {
            width: 100%;
            display: flex;

            button {
                flex: 1;
                margin: 8px;
            }
        }

        .btn {
            margin: 8px;

            a {
                width: 100%;
            }
        }
    }
}