$collor-third: #333333;
$background: #1c1a20;

$pallet-collors-primary: (50 : #fbebec,
    100 : #f6ced1,
    200 : #f0adb2,
    300 : #ea8c93,
    400 : #e6747b,
    500 : #e15b64,
    600 : #dd535c,
    700 : #d94952,
    800 : #d54048,
    900 : #cd2f36,
    A100 : #ffffff,
    A200 : #ffddde,
    A400 : #ffaaae,
    A700 : #ff9095,
    contrast: (50 : #ffffff,
        100 : #ffffff,
        200 : #ffffff,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #ffffff,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    ));

$pallet-collors-secondary: (50 : #ededed,
    100 : #d1d1d1,
    200 : #b3b3b3,
    300 : #949494,
    400 : #7d7d7d,
    500 : #666666,
    600 : #5e5e5e,
    700 : #535353,
    800 : #494949,
    900 : #383838,
    A100 : #f49c9c,
    A200 : #ef6e6e,
    A400 : #ff2a2a,
    A700 : #ff1111,
    contrast: (50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    ));