<header class="header-room">
    <section class="header-logo">
        <app-logo [isNormal]="false"></app-logo>
    </section>
    <section class="header-info">
        <h2 class="header-info-title">{{title}}</h2>
        <h2 class="header-info-description">{{room?.description}}</h2>
    </section>
    <section class="header-count">
        <mat-icon [matBadge]="room?.users?.length">person</mat-icon>
        <mat-icon [matBadge]="room?.observers?.length">remove_red_eye</mat-icon>
    </section>
</header>

<main class="main-room">
    <section class="list">
        <header class="list-actions" *ngIf="isPlayer">
            <button mat-icon-button matTooltip="Adicionar Task" (click)="addTask()" color="primary">
                <mat-icon>post_add</mat-icon>
            </button>

            <button mat-icon-button matTooltip="Mostrar os votos" (click)="flipVotes()" color="primary">
                <mat-icon>360</mat-icon>
            </button>

            <button mat-icon-button matTooltip="Reiniciar os votos" (click)="resetVotes()" color="primary">
                <mat-icon>replay</mat-icon>
            </button>
        </header>
        <main class="list-users">
            <ng-container *ngFor="let item of players">
                <ng-scrollbar>
                    <app-user-card [player]="item"></app-user-card>
                </ng-scrollbar>
            </ng-container>
        </main>
    </section>

    <section class="main">
        <main>
            <section class="main-body" [ngClass]="{'full': !isPlayer}">
                <main>
                    <section class="task" [ngClass]="{'full': !room?.settingsRoom?.keepHistory}">
                        <app-task (changeTask)="changeTask($event)"
                        [typeVote]="room?.settingsRoom?.typeRoom"
                        ></app-task>
                    </section>

                    <ng-container *ngIf="room?.settingsRoom?.keepHistory">
                        <section class="task-history">
                            <app-task-history></app-task-history>
                        </section>
                    </ng-container>

                </main>
            </section>
            <section class="main-cards" *ngIf="isPlayer">
                <app-vote-card 
                    (cardSelected)="onVote($event)"
                    class="card-1 card card-not-selected" 
                    [value]=".5" 
                    [typeCard]="'ballon'">
                </app-vote-card>
                <app-vote-card 
                    (cardSelected)="onVote($event)"
                    class="card-2 card card-not-selected" 
                    [value]="2" 
                    [typeCard]="'sword'">
                </app-vote-card>
                <app-vote-card 
                    (cardSelected)="onVote($event)"
                    class="card-3 card card-not-selected" 
                    [value]="4" 
                    [typeCard]="'sword'">
                </app-vote-card>
                <app-vote-card 
                    (cardSelected)="onVote($event)"
                    class="card-4 card card-not-selected" 
                    [value]="6" 
                    [typeCard]="'sword'">
                </app-vote-card>
                <app-vote-card 
                    (cardSelected)="onVote($event)"
                    class="card-5 card card-not-selected" 
                    [value]="8" 
                    [typeCard]="'ballon'">
                </app-vote-card>
                <app-vote-card 
                    (cardSelected)="onVote($event)"
                    class="card-6 card card-not-selected" 
                    [value]="10" 
                    [typeCard]="'littleFlower'">
                </app-vote-card>
                <app-vote-card 
                    (cardSelected)="onVote($event)"
                    class="card-7 card card-not-selected" 
                    [value]="12" 
                    [typeCard]="'heart'">
                </app-vote-card>
                <app-vote-card 
                    (cardSelected)="onVote($event)"
                    class="card-8 card card-not-selected" 
                    [value]="14" 
                    [typeCard]="'littleFlower'">
                </app-vote-card>
                <app-vote-card 
                    (cardSelected)="onVote($event)"
                    class="card-9 card card-not-selected" 
                    [value]="20" 
                    [typeCard]="'heart'">
                </app-vote-card>
                <app-vote-card 
                    (cardSelected)="onVote($event)"
                    class="card-10 card card-not-selected" 
                    [value]="32" 
                    [typeCard]="'ballon'">
                </app-vote-card>
            </section>
        </main>
    </section>
</main>
