@import './scss/layouts.scss';
@import './scss/colors.scss';

:host {
    
    @include display-basic;

    & > .container {
        width: 100%;
        height: 100%;
        background: $background ;
    }
}