<main class="card-vote">

    <ng-container *ngIf="true; then showCard; else hideCard"></ng-container>

    <ng-template #showCard>
        <p class="card-value" [ngClass]="{'card-color-primary': !typeCard || typeCard === 'ballon' || typeCard === 'heart'}">{{value}}</p>

        <section class="card-top card">
            <p class="card-value-top" [ngClass]="{'card-color-primary': !typeCard || typeCard === 'ballon' || typeCard === 'heart'}">{{value}}</p>
            <img class="card-ballon-top" *ngIf="!typeCard || typeCard === 'ballon'" src="../../../../assets/imgs/ballon.svg">
            <img class="card-ballon-top" *ngIf="typeCard === 'heart'" src="../../../../../assets/imgs/heart.svg">
            <img class="card-ballon-top" *ngIf="typeCard === 'littleFlower'" src="../../../../../assets/imgs/little-flower.svg">
            <img class="card-ballon-top" *ngIf="typeCard === 'sword'" src="../../../../../assets/imgs/sword.svg">
        </section>

        <section class="card-bottom card">
            <img class="card-ballon-top" *ngIf="!typeCard || typeCard === 'ballon'" src="../../../../assets/imgs/ballon.svg">
            <img class="card-ballon-top" *ngIf="typeCard === 'heart'" src="../../../../../assets/imgs/heart.svg">
            <img class="card-ballon-top" *ngIf="typeCard === 'littleFlower'" src="../../../../../assets/imgs/little-flower.svg">
            <img class="card-ballon-top" *ngIf="typeCard === 'sword'" src="../../../../../assets/imgs/sword.svg">
            <p class="card-value-bottom" [ngClass]="{'card-color-primary': !typeCard || typeCard === 'ballon' || typeCard === 'heart'}">{{value}}</p>
        </section>
    </ng-template>
    <ng-template #hideCard>
        <img class="card-ballon-bottom" src="../../../../../assets/imgs/logo.svg">
    </ng-template>

</main>